body {
    margin: 0;
    font-family: Open Sans,Helvetica,Arial, sans-serif;
    color: #333;
}
*{
    box-sizing: border-box;
}
#ge-map{
    flex: 2;
}
#ge-map, #ge-canvas{
    overflow: hidden;
    height: 100vh !important;
    aspect-ratio: 1 / 1;
    border-left: 1px solid #eee;
    left: 0;
    top:0;
}
#ge-logo-wrapper{
    padding: 20px 20px 10px 20px;
    display: block;
}
.ge-row{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
.ge-row.even{
    justify-content:stretch;
}
label{
    font-size: 0.7em;
    color: #666;
}
#ge-sidebar{
    flex: 0 250px;
    display:flex;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
}
.ge-side-header{
    border-bottom: 1px solid #aaa;
}
.ge-side-content{
    overflow-y: scroll;
}
.ge-side-footer{
    font-size: 0.8em;
    padding: 5px;
    border-top: 1px solid #aaa;
    color: #555;
}
.ge-side-footer a{
    color: inherit;
    text-decoration: none;
    margin: 5px 5px 0 0;
    display: inline-block;
}
.ge-grow{
    flex-grow: 3;
}
select{
    border: none;
    font-size: 1em;;
}
section{display:flex; align-items: stretch; flex-direction: row;}

.ge-padding{padding: 100px 0; overflow-y: scroll; position: relative;}

section > *{flex-grow: 2;min-height: 300px;position: relative;}

/*#ge-layer-verbiss{
    margin-right: 10px;
}*/
.ge-full-btn{
    border: none;
    display: block;
    padding: 10px 15px;
    background: #fefefe;
    color: #333;
    cursor: pointer;
    box-shadow: 0 0 2px #666;
}
button.ge-full-btn:disabled,
button.ge-full-btn[disabled]{
  background-color: #cccccc;
  color: #666666;
}
.ge-full-btn.active{
    background: #44754b;
    color: #fff;
    border:none;
}
.ge-full-btn:hover:not(.active){
    background: #9db59d;
    color: #fff;
}
.ge-info-window .ge-selection{
    border-top: 5px solid #44754b;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
.ge-info-content{
    margin: 10px;
}
.ge-area-list{
    border-top: 1px solid #ddd;
}
.ge-area-list > *{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.ge-area-list > *.active{
    display: none;
    background-color: #44754b;
    color: #fff;
}
.ge-area-list > *:hover:not(.active){
    background-color: #9db59d;
    color: #fff;
}
#ge-mobile-navigation{
    display: none;
}
#ge-logo-wrapper img{
    height: 75px;
    width: auto;
}
#ge-layer-control{
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 260px;
}
#ge-layer-control > * {
    margin-bottom: 10px;
}
#ge-description{
    padding: 0 15px 10px;
    font-size: 0.9em;
}
.ge-subheader{
    color: #555;
    font-size: 00.8em;
    margin: 10px 5px 5px;
}

.ge-info-detail{
    padding: 10px;
}
.ge-info-detail > *{
    margin: 10px auto;
}
.ge-info-range{
    height: 10px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px;
}
.ge-info-range-indicator{
    position: absolute;
    transition: left 1s ease;
    left: 50%;
    top: 98%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 10px solid #333;
    transform: translateX(-50%);
}
.ge-info-range .ge-info-range-qual1{
    background-color: greenyellow;
}
.ge-info-range .ge-info-range-qual2{
    background-color: green;
}
.ge-info-range .ge-info-range-qual3{
    background-color: yellow;
}
.hidden{
    display: none !important;
}
#ge-toggle-3D{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    aspect-ratio: 1/1;
    display: none;
}
.ge-is-mobile #ge-toggle-3D{
    display: block;
}
@media (max-width: 600px) {
    #ge-toggle-3D{
        bottom: 40px;
    }
    .ge-full-btn{
        padding: 4px 15px;
    }
    #ge-layer-control{
        position: relative;
        top:auto;
        right: auto;
        left: auto;
    }
    #ge-sidebar{
        height: auto;
    }
    #ge-description{
        display: none;
    }
    section > *:first-child{
        position:absolute;
        z-index: 1000;
    }
    #ge-area-list-wrapper, #ge-area-info{
        display: none;
    }
    #ge-mobile-navigation{
        display: block;
        position: fixed;
        top: 65px;
    }
    #ge-mobile-navigation .ge-row > div{
        background-color: white;
        padding: 10px;
        margin: 5px;
        box-shadow: 0 0 2px #666;
        display: flex;
    }
   #ge-mobile-navigation .ge-close-btn{
        margin-left: 5px;
    }
    .ge-res-8 #ge-mobile-navigation .ge-row > div:first-child .ge-close-btn{
        display: none;
    }
    .ge-res-9 #ge-mobile-navigation .ge-row > div:nth-child(2n) .ge-close-btn{
        display: none;
    }
    .ge-res-8 #ge-mobile-navigation .ge-row > div:nth-child(2n){
        display: none;
    }
    .ge-side-footer{
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-color: white;
        border: none;
        box-shadow: 0 0 2px #666;
    }
    .ge-side-footer > *{
        white-space: nowrap;
    }
    .ge-side-header{
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100vw;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        box-shadow: 0 0 2px #666;
    }
    #ge-logo-wrapper{
        padding: 0;
    }
    #ge-logo-wrapper img{
        height: 50px;
    }
    #ge-area-info{
        display: none;
    }
}
@media (max-height: 400px) {
    .ge-side-content{
        overflow-y: initial;
    }
    #ge-sidebar{
        overflow-y: scroll;
    }
}

.deck-tooltip{
    background-color: #fefefe !important;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5)
}
.deck-tooltip .ge-tool-tip{
    min-width: 100px;
}

.ge-loading-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #44754b;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }